/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* General */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    --text-color: #000;
    --dark-text-color: #000;
    --subtitle-color: #171717;
    --paragraph-color: #171717;
    --background-color: #fff;
    --link-color: #fff;
    --link-hover-color: #fff;
    --svg-color: #3CC47C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
    color: var(--text-color);
    background-color: #fff;
    background-color: var(--background-color-3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::selection {
    background: var(--svg-color);
    color: var(--link-color);
}

.is-absolute {
    position: absolute;
}

/* Typography */

h1.title.is-big {
    font-size: 4rem;
}

h3.title.is-portfolio-special {
    font-size: 7rem;
}

a:focus {
    outline: none;
}

p,
a,
h2.subtitle {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
}

.content {
    max-width: 450px;
}

.has-green-box {
    position: relative;
}

.has-green-box::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 10px;
    left: 30px;
    background: #3CC47C;
    opacity: 0.4;
    z-index: -1;
}

/* Page Loader */

.is-loading {
    transition: opacity 400ms ease;
    position: fixed;
    display: flex;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
}

#svgLoader {
    margin: auto;
}

#svgLoader svg polygon {
    stroke: var(--svg-color);
    fill: var(--svg-color);
}

/* Header */

header.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 2em 1.5em;
}

.header-link {
    pointer-events: auto;
    float: right;
    font-size: 1em;
    margin: 0;
    font-weight: 500;
}

.header-link.is-left {
    float: left;
}

/* Doodle */

#alessandro-doodle,
#alessandro-doodle-gif {
    max-width: 350px;
    width: 350px;
}

/* Layout */

.is-flex {
    display: flex;
}

.is-transparent {
    opacity: 0;
}

.is-viewheight {
    height: 100vh;
}

.is-right {
    float: right;
}

.has-outer-shadow {
    box-shadow: 6px 8px 20px rgba(119, 119, 119, .1);
}

/* Icons */

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    opacity: .7;
    width: 40px;
    height: 70px;
    margin-left: -20px;
    margin-top: 60px;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #000;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

/* Links */

.has-animation {
    font-weight: 400;
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    padding: 0 0.35em;
    transition: color 0.5s;
    color: var(--text-color);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.has-animation:hover {
    color: var(--svg-color);
}

.has-animation:before {
    content: '';
    background: var(--svg-color);
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    opacity: 0.3;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.has-animation:hover::before {
    transform: scale3d(1, 1, 1);
}

/* SVG Morph */

.morph-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: .6;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    z-index: 0;
}

.morph {
    position: relative;
    height: 100%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    fill: none;
    stroke-width: 12px;
    stroke: var(--svg-color);
}

/* Portfolio Clips */

.portfolio-item {
    transform: scale(0.8);
    width: 1400px;
    height: 770px;
    background-size: cover;
    background-attachment: fixed;
    transition: transform 2s ease-in-out;
}

/* 
.is-layout-regular:hover .portfolio-item,
.is-layout-inverted:hover .portfolio-item {
    transform: scale(0.85);
} */

.is-layout-regular .portfolio-item {
    clip-path: polygon(700.5px 38px, 1048px 733px, 353px 733px);
    margin-left: 10%;
}

.is-layout-inverted .portfolio-item {
    clip-path: polygon(717.5px 733px, 353px 4px, 1082px 4px);
    margin-left: -25%;
}

.is-layout-regular .portfolio-description {
    top: 170px;
    z-index: 1;
    right: 37%;
}

.is-layout-inverted .portfolio-description {
    top: 170px;
    z-index: 1;
    left: 26%;
}

.is-layout-inverted .portfolio-description a {
    float: right;
}

/* Skill Bars */

.meter {
    height: 16px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 24px;
}

.meter:first-child {
    margin-top: 10px;
}

.meter>p {
    position: absolute;
    width: 150px;
    top: -10px;
    left: -30px;
    z-index: 1;
}

.meter>span {
    width: 0;
    display: block;
    height: 100%;
    background-color: var(--svg-color);
    position: relative;
    overflow: hidden;
    opacity: 0.4;
}

.about-image {
    transform: translate3d(150px, 80px, 0);
}

/* Footer */

.hero-body.columns,
footer .columns {
    margin-left: 0;
    margin-right: 0;
}

footer .column {
    padding-top: 26px;
    padding-bottom: 26px;
    border-top: 1px solid var(--svg-color);
}

footer .column p {
    display: inline-block;
    font-size: 1rem;
    opacity: 0.4;
}

.social-icons {
    float: right;
}

.social-icons li {
    display: inline-block;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    margin-right: 8px;
    transition: opacity 500ms ease;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li:hover {
    opacity: 1;
}

/* Media Queries */

@media screen and (max-width: 1407px) {
    /* Typography */
    h3.title.is-portfolio-special {
        font-size: 5rem;
    }
    /* Layout */
    .portfolio-item {
        width: 1080px;
    }
    .is-layout-regular .portfolio-description {
        right: 30%;
    }
    .is-layout-inverted .portfolio-description {
        left: 40%;
    }
}

@media screen and (max-width: 1215px) {
    /* Typography */
    h3.title.is-portfolio-special {
        font-size: 5rem;
    }
    /* Layout */
    .is-layout-regular .portfolio-item {
        margin: 0;
    }
    .is-layout-inverted .portfolio-item {
        margin-left: -45%;
    }
    .about-image {
        transform: translate3d(60px, 80px, 0);
    }
}

@media screen and (max-width: 1023px) {
    .portfolio-item {
        background-attachment: scroll;
        width: 100%;
    }
}

@media (pointer: coarse) {
    /* Portfolio Clips */
    .is-layout-regular .portfolio-item,
    .is-layout-inverted .portfolio-item {
        clip-path: none;
        margin: auto;
        transform: scale(1);
        width: 640px;
        height: 360px;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
    }
    .is-layout-regular .portfolio-description,
    .is-layout-inverted .portfolio-description {
        z-index: 1;
        position: initial;
        text-align: center;
    }
    .is-layout-inverted .portfolio-description a {
        float: none;
    }
    .is-layout-inverted,
    .is-layout-regular {
        min-height: 400px;
        display: flex;
        flex-direction: column-reverse;
    }
    .portfolio-description {
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    /* Typography */
    h3.title.is-portfolio-special {
        font-size: 3rem;
    }
    /* Layout */
    .content,
    section {
        max-width: 450px;
        margin: auto;
    }
    /* Portfolio Clips */
    .is-layout-regular .portfolio-item,
    .is-layout-inverted .portfolio-item {
        clip-path: none;
        margin-left: auto;
        transform: scale(1);
        width: 100%;
        height: 220px;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
    }
    .is-layout-regular .portfolio-description,
    .is-layout-inverted .portfolio-description {
        z-index: 1;
        position: initial;
        text-align: left;
    }
    .is-layout-inverted .portfolio-description a {
        float: none;
    }
    .is-layout-inverted,
    .is-layout-regular {
        min-height: 400px;
        display: flex;
        flex-direction: column-reverse;
    }
    .portfolio-description {
        margin-top: 32px;
    }
    .about-image {
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width: 480px) {
    /* Navigation */
    header.is-fixed {
        padding: 1em 1.5em;
        background: white;
        box-shadow: 0px 8px 20px rgba(119, 119, 119, .1);
    }
    /* Typography */
    h1.title.is-big {
        font-size: 2rem;
    }
    h2.subtitle {
        padding: 0 1rem;
    }
    /* Layout */
    section .is-layout-regular,
    section .is-layout-inverted {
        height: 70vh;
    }
    .is-layout-regular .portfolio-item,
    .is-layout-inverted .portfolio-item {
        margin: 0 auto;
        height: 180px;
    }
    .columns {
        margin-left: 0;
        margin-right: 0;
    }
    .has-green-box::before {
        width: 90%;
    }
    #alessandro-doodle,
    #alessandro-doodle-gif {
        max-width: 100%;
        width: 100%;
    }
    /* Morphing */
    .morph {
        height: 60%;
    }
    /* Footer */
    footer .column {
        text-align: center;
        margin: 0 2.25rem;
        padding-right: 0;
        padding-left: 0;
    }
    ul.social-icons {
        float: none;
        margin-top: 1rem;
    }
}

/* Avoid Portrait */

@media only screen and (min-width: 320px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .overlay-portrait {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        visibility: initial;
        z-index: 99999;
        overflow: hidden;
        flex-direction: column;
    }
    .overlay-portrait span {
        font-size: 30px;
        font-weight: 700;
        padding: 10px 0 0;
        margin: auto;
    }
    .overlay-portrait img {
        width: 200px;
        height: 200px;
        margin: auto;
    }
    body {
        pointer-events: none;
        overflow: hidden;
    }
}