*,
*::after,
*::before {
  box-sizing: border-box;
  /* cursor: none !important; */
}

:root {
  font-size: 14px;
}

body {
  margin: 0;
  --color-text: #00f0ff;
  --color-bg: #0c090e;
  --color-link: #5b5b5b;
  --color-primary: #ff00f5;
  --color-secondary: #00e0ff;
  color: var(--color-text);
  font-family: pragmatica-extended, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #f7e0ff 0%, #ffdefd 100%);
}

/* Page Loader */
.js body::before {
  opacity: 0;
  transition: opacity 400ms ease;
}

.js .loading::before {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  opacity: 1;
}

a {
  color: var(--color-text);
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  outline: none;
}

.message {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 1rem;
  text-align: center;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 4rem;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.item__fig {
  width: 31vw;
  margin: auto;
}

.aspect {
  padding-top: var(--aspect);
}

.item__img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

/* Text */

.logo {
  position: absolute;
  top: 60px;
  left: 11vw;
  max-width: 64px;
}

.text {
  z-index: 100;
  mix-blend-mode: difference;
  color: var(--color-text);
  font-family: "Helvetica Neue", sans-serif;
  max-width: 78vw;
  font-size: 3.8vw;
  font-weight: 300;
  line-height: 1.4;
  text-transform: none;
  pointer-events: none;
  margin: auto;
  letter-spacing: -0.02vw;
}

.trigger {
  position: relative;
  cursor: pointer;
  pointer-events: initial;
}

.trigger::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Canvas */
.dom-gl {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .item__fig {
    width: 32vw;
    margin: auto;
  }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
  .logo {
    top: 40px;
  }
  .text {
    padding-top: 10vh;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .text {
    max-width: 80vw;
    font-size: 7.2vw;
  }
  .logo {
    left: 10vw;
    max-width: 40px;
  }
  .item__fig {
    width: 65vw;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .trigger::after {
    height: 1px;
  }
  .content {
    padding: 2rem;
  }
  .text {
    max-width: 100%;
    font-size: 9vw;
  }
  .logo {
    left: 2rem;
    top: 2rem;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  .text {
    font-size: 8vw;
  }
}

